<div align="center">
  <form [formGroup] = "searchForm">
    <input type="text" formControlName="searchField" placeholder="Name or contact Number"> <button (click)="searchData()">Search</button>
  </form>
  <div >
    <table>
      <th>Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Address</th>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.contact}}</td>
        <td>{{user.address}}</td>
      </tr>
    </table>
  </div>

</div>
